<!DOCTYPE html>
<html>
<head>
    <!-- general -->
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta property="description" content="Calcetto Plaform FTW!">
    <meta property="keywords" content="calcetto, manager">

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic|Material+Icons">
</head>
<body>
<div id="vue_root">
    <router-view :key="$route.fullPath"></router-view>
</div>
</body>
</html>
